<div class="darkBlue-bg text-white">
<div class="container">
  <footer class="pt-5" >
    <div class="row">
      <div class="col-3 col-md-4 mb-3">
        <h5>V.Parrot</h5>
            <p>Mécanique, réparation & vente de véhicules d’occasion</p>
            <p>73 rue du Pneu<br>31000 Toulouse</p>
      </div>

      <div class="col-3 col-md-4 mb-3">
        <h5>Horaires du garage</h5>
            <p>Mardi au Samedi <br>9h00-12h00<br>14h00-18h00</p>
            <p>Fermé Dimanche et Lundi</p>

      </div>

      <div class="col-3 col-md-4 mb-3">
        <h5>Suivez-nous</h5>
      <ul class="list-unstyled d-flex">
        <li><a class="link-body-emphasis" href="#"><img src="{{asset("media/icon-facebook.png")}}" alt=""></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{{asset("media/icon-instagram.png")}}" alt=""></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{{asset("media/icon-whatsapp.png")}}" alt=""></a></li>
      </ul>
      </div>

      </div>



    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-2 pb-0 mb-0 border-top">
      <p>© 2023 V.Parrot. Tous droits réservés.</p>
      <p>Mentions Légales | CGU | Politique de confidentialité | Politique de cookies</p>
    </div>
    
  </footer>
</div>

